# Airflow
AIRFLOW_UID=50000
_PIP_ADDITIONAL_REQUIREMENTS=dbt-core dbt-snowflake

# AWS
S3_BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=us-east-2

# Snowflake (if needed)
SNOWFLAKE_ACCOUNT=your-account
SNOWFLAKE_USER=your-user
SNOWFLAKE_PRIVATE_KEY_PATH=/opt/airflow/.snowflake/rsa_key.p8